//шаблон для автоматической генерации стилей для каждой svg иконки
.icon {
    display: inline-block;
  }
  
.icon-cart {
    width: 22px;
    height: 20px;
}
.icon-favourites {
    width: 18px;
    height: 17px;
}
.icon-search {
    width: 21px;
    height: 21px;
}
