mixin item-color(name, color)
    label.item-color(style={ 'background-color': color })
        input.item-color__input(type='checkbox' name=name)
        span.item-color__icon
            +icon('check')