mixin footer()
    .footer
        .btn__list
            button.btn_footer Каталог
            button.btn_footer Оплата
            button.btn_footer Доставка
            button.btn_footer Возврат
            button.btn_footer Сборка
            button.btn_footer Помощь
            button.btn_footer Обратная связь
        .footer__content
            .p1 
                p По любым вопросам обращайтесь:
            .p2 
                p +7 499 242-12-54
        .footer__information
            p © 2019, Интернет-магазин мебели
        