//- Используем стандартный шаблон
extends ../layouts/default/default

include ../components/breadcrumbs/breadcrumbs
include ../components/page-title/page-title
include ../components/list-card/list-card
include ../components/input-checkbox/input-checkbox
include ../components/item-color/item-color

//- Выводим контент
block content
    .container
        .mt-xl-12.mb-xl-3
            -
                var breadcrumbs = [
                    {url: '#', title: 'Главная', value: 'Главная'},
                    {url: '#', title: 'Каталог', value: 'Каталог'},
                    {url: '#', title: 'Мягкая мебель', value: 'Мягкая мебель'},
                    {value: 'Диваны'}
                ]
            +breadcrumbs(breadcrumbs)
        +page-title('Диваны')
        .mt-xl-12
            .row
                .col-xl-5.pt-xl-
                    -
                        var color = [
                            {url: '#', title: 'Белый', color: '#ffffff'},
                            {url: '#', title: 'Черный', color: '#000000'},
                            {url: '#', title: 'Серый', color: "#5a5a5a"},
                            {url: '#', title: 'Коричневый', color: "#704d35"},
                            {url: '#', title: 'Оранжевый', color: "#e0791d"},
                            {url: '#', title: 'Красный', color: "#ba0606"},
                            {url: '#', title: 'Зеленый', color: "#38a01a"},
                            {url: '#', title: 'Темно-синий', color: "#314976"},
                            {url: '#', title: 'Светло-синий', color: "#3748a6"},
                        ]
                    +item-color(color)
                    br
                    p(style="font-weight: bold") Материал
                    -
                        var material = [
                            {name: 'test1', label: 'Вельвет'},
                            {name: 'test2', label: 'Микровелюр'},
                            {name: 'test3', label: 'Велюр'},
                            {name: 'test4', label: 'Жаккард'},
                            {name: 'test5', label: 'Замша'},
                            {name: 'test6', label: 'Рогожка'}
                        ]
                    +input-checkbox(material)
                    br
                    p(style="font-weight: bold") Угол
                    -
                        var angle = [
                            {name: 'test7', label: 'Левый'},
                            {name: 'test8', label: 'Правый'},
                            {name: 'test9', label: 'Универсальный'}
                        ]
                    +input-checkbox(angle)
                    //- br
                    //- button.btn.btn_primary Button
                    br
                    input.btn.btn_primary(type='submit' value='Применить')
                    br
                    input.btn.btn_reset(type='reset' value='Очистить фильтр')
                    //- br
                    //- a.btn.btn_primary(href="#") Button_A
                .col-xl-18.offset-xl-1
                        -
                            var cards = [
                                {href: '#', name: 'Montreal', cost: '10&nbsp;990', img: 'assets/images/item-01.jpg', btns: ['favourites', 'cart']},
                                {href: '#', name: 'Glasgow', cost: '19&nbsp;990', img: 'assets/images/item-06.jpg', btns: ['favourites', 'cart']},
                                {href: '#', name: 'Munich', cost: '24&nbsp;990', img: 'assets/images/item-01.jpg', btns: ['favourites', 'cart']},
                                {href: '#', name: 'Alexandria', cost: '109&nbsp;990', img: 'assets/images/item-05.jpg', btns: ['favourites', 'cart']},
                                {href: '#', name: 'Karachi', cost: '17&nbsp;990', img: 'assets/images/item-02.jpg', btns: ['favourites', 'cart']},
                                {href: '#', name: 'Phoenix', cost: '29&nbsp;990', img: 'assets/images/item-03.jpg', btns: ['favourites', 'cart']}
                            ]
                        +list-card(cards)