.item-card{
	position: relative;
    padding: 20px;
	//display: flex; //горизонтальное выранивание
	//flex-direction: column; //вертикальное выравнивание
	//justify-content: center; //выравнивание по главной оси
  	//justify-content: space-between; //распределены вдоль главной оси, первый элемент прижат к началу оси, а последний - к концу
  	//align-items: flex-start; //элементы выравниваются от начала перпендикулярной оси
	//flex-direction: row; //выранивание в линию
	//flex-wrap: wrap; //перебрасывает товары на новую строку, если на текущей уже недостаточно места из-за ширины окна браузера
	//position: relative; //отсчет координат ведется от края родительского элемента

	&::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        transition: opacity $animation-time, visibility $animation-time;
        pointer-events: none;
    }

    &:hover {
        &::before {
            opacity: 1;
            visibility: visible;
        }
	}
	
	&__link {
        display: block;
        color: color('gray-darkerest');
		text-decoration: none; 
    }
	
	&__img {
		width: 100%;
        height: 100%;
        max-height: 270px;
  		object-fit: contain;//Содержимое масштабируется, выравниваясь по центру с сохранением пропорций, чтобы полностью поместиться внутри контейнера
	}

	&__name {
		display: block;
        padding-top: 10px;
  		//font-weight: normal; //Насыщенность шрифта
  		//font-style: normal; //стиль начертания для шрифта
  		//font-stretch: normal; //узкое, нормальное или широкое начертание шрифта
  		line-height: 1.38; //Размер строки
  		//letter-spacing: normal; //определяет дополнительный интервал
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }

	&__cost {
  		font-weight: bold;
	}

	&__btns {
		display: flex;
        align-items: center;

        .icon-btn {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }
	}
}