mixin item-card(arr)
    .item-card
        ul.item-card__list
            if arr
                each item in arr
                    li.item-card__item
                        .item-card__img= item.img
                        .item-card__name= item.name
                        .item-card__cost= item.cost
                        .item-card__btns= item.btns
                        
